@model LojaEstoque.Models.Produto

@{
    ViewData["Title"] = "Cadastro";
    var titulo = "Cadastro de produto";
    var btn = "Cadastrar";
    if (@Model.Nome != ""){
        titulo = "Editar produto";
        btn = "Atualizar";
    }
}

<asp:Content ID="Inicio" ContentPlaceHolderID="Inicio" runat="server">
	<script type="module" src="~/js/cadastro.js"></script>
</asp:Content>
    <div class="layout__form-cadastro">
            <h1 style="text-align:center">@titulo</h1>

                <form class="form-cadastro" asp-action="InsertUpdate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome do produto: </label>
                <input asp-for="Nome" class="form-control" minlength="5" maxlength="50" value="@Model.Nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label">Valor do Produto: </label>
                <input asp-for="Valor" class="form-control produto--valor" value="@Model.Valor.ToString().Replace(".", ",")"/>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input type="submit" value="@btn" class="form-cadastro--btn-enviar btn-default"/>
            </div>
        </form>
        <div>
    <a class="form-cadastro--voltar btn-default" asp-action="Index">Voltar para lista de produtos</a>
</div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
